<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Madison Alworth</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Top of Page</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About Madison</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#reel">Reel</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
            </div>
        </div>
    </header>

    <section style='background-color:white' class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 style='font-size:350%; color:MidnightBlue' class="section-heading">Madison Alworth</h2>
                    <hr style='border-color:MidnightBlue' class="light">
                    <p style='color:MidnightBlue' class="text-faded">Madison Alworth is a multimedia journalist with both the professional background from a media giant and the entrepreneurial experience from starting her own digital news platform. While at Yale, Madison created YTV, Yale’s only broadcast news desk. The digital-first platform quickly grew and went from the Yale Daily News’ newest desk to one of its most popular. After graduating from Yale in 2015, Madison was selected from a pool of 2000 applicants as 1 of the 8 members of the 2015 News Associate class. Since then, Madison has worked on Nightly News with Lester Holt, in the northeast bureau as an associate field producer, and most recently, on the Today Show. Madison fully DJs entire interviews, produces live segments, and pitches creative videos. Madison is a TV producer with expansive digital knowledge and a passion for online reporting. </p>
                </div>
            </div>
        </div>
    </section>

    <iframe style='border:0 none' style="overflow:hidden;height:100%;width:100%" width='100%' height='100%' src='https://www.youtube.com/embed/XQmQLBSK6Lg?autoplay=1'  id="reel"></iframe>

    <hr style='opacity:0'>
    <hr style='opacity:0'>

    <section style='background-color:white' id='portfolio' class='no-padding'>
        <div class="no-padding">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style='color:MidnightBlue' class="section-heading">Additional Clips</h2>
                    <hr style='border-color:MidnightBlue' class="primary">
                </div>
            </div>
        </div>
    </section>

    <hr style='opacity:0'>

    <section class="no-padding">
            <div class="row">
                <div class="col-md-6">
                    <div style="position:relative; padding-bottom:63%; padding-bottom:-webkit-calc(56.25%); padding-bottom:calc(56.25%); height: 0;">
                        <iframe style="position:absolute; width: 100%; height: 100%;"    src="https://www.youtube.com/embed/y1f2GJXmCUA" scrolling="no" frameborder="0">
                        </iframe>
                    </div>
                    <center style='background-color:silver; color:MidnightBlue; padding:15px; width:100%; height:100px'>
                        A story that gave new meaning to the phrase, “run and gun.” Madison was 2nd camera and associate producer on this shoot as she ran between the press area, backstage, audience, and onstage!
                    </center>
                </div>
                <div class="col-md-6">
                    <div style="position:relative; padding-bottom:63%; padding-bottom:-webkit-calc(56.25%); padding-bottom:calc(56.25%); height: 0;">
                        <iframe style="position:absolute; width: 100%; height: 100%;"    src="http://www.today.com/offsite/how-2-young-entrepreneurs-transformed-theskimm-from-dream-to-reality-824995395977" scrolling="no" frameborder="0">
                        </iframe>
                    </div>
                    <center style='background-color:silver; color:MidnightBlue; padding:15px; width:100%; height:100px'>
                    A shoot Madison fully DJed. Two Cameras, 3 audio sources, 1 lady-journo handling it all!
                    <hr style='opacity:0'>
                    </center>
                </div>
            </div>
            <hr style='opacity:0'>
            <div class="row">
                <div class="col-md-6">
                    <div style="position:relative; padding-bottom:63%; padding-bottom:-webkit-calc(56.25%); padding-bottom:calc(56.25%); height: 0;">
                        <iframe style="position:absolute; width: 100%; height: 100%;"    src="https://www.youtube.com/embed/B8QV6M34NsU" scrolling="no" frameborder="0">
                        </iframe>
                    </div>
                    <center style='background-color:silver; color:MidnightBlue; padding:15px; width:100%; height:80px'>
                        When the guest hosts proved how hard it is to toss to weather, Madison cut together a sizzle reel of some of their best(worst) tries.
                    </center>
                </div>
                <div class="col-md-6">
                    <div style="position:relative; padding-bottom:63%; padding-bottom:-webkit-calc(56.25%); padding-bottom:calc(56.25%); height: 0;">
                        <iframe style="position:absolute; width: 100%; height: 100%;"    src="https://www.youtube.com/embed/cCkYdcmNAt0" scrolling="no" frameborder="0">
                        </iframe>
                    </div>
                    <center style='background-color:silver; color:MidnightBlue; padding:15px; width:100%; height:80px; vertical-align: middle'>
                        Not afraid to have fun, let loose, and look a little crazy.
                    </center>
                </div>
        </div>
    </section>

    <hr style='opacity:0'>
    <hr style='opacity:0'>
    <hr style='opacity:0'>

    <section on id="contact" style='background-color:white' class='no-padding'>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 style='color:MidnightBlue' class="section-heading">Contact Me</h2>
                    <hr style='border-color:MidnightBlue' class="primary">
                    <p style='color:MidnightBlue'>Contact me if you want to work together or have any story ideas.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <i style='color:MidnightBlue' class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a style='color:MidnightBlue' href="mailto:maddiealworth@gmail.com">maddiealworth@gmail.com</a></p>
                </div>
                <div class="col-md-4 text-center">
                    <i style='color:MidnightBlue' class="fa fa-youtube fa-3x sr-contact"></i>
                    <p><a style='color:MidnightBlue' href='https://www.youtube.com/channel/UCVu-0oaII3kqSzOJ7j7tR6w'>youtube.com</a></p>
                </div>
                <div class="col-md-4 text-center">
                    <i style='color:MidnightBlue' class="fa fa-linkedin-square fa-3x sr-contact"></i>
                    <p><a style='color:MidnightBlue' href='http://linkedin.com/in/madisonalworth/'>linkedin.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/creative.min.js"></script>

</body>

</html>
